:root {
  --base: #cfcfcf;
  --text: #212121;
}

html {
  color-scheme: dark light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #212121;
    --text: #cfcfcf;
  }
}

body {
  color: var(--text);
  background-color: var(--base);
}

[data-theme="light"] {
  color-scheme: light;
  --base: #cfcfcf;
  --text: #212121;
}

[data-theme="dark"] {
  color-scheme: dark;
  --base: #212121;
  --text: #cfcfcf;
}

/* Following is CSS only solution */

/* :root:has(#themeSelector [value="light"]:checked) {
  color-scheme: light;
  --base: #cfcfcf;
  --text: #212121;
}

:root:has(#themeSelector [value="dark"]:checked) {
  color-scheme: dark;
  --base: #212121;
  --text: #cfcfcf;
} */
